
/.awcache
bin
/bin/integration/init
/bin/portus
boot2docker.cert
/bower_components/
build
/__build__/**
/build/
build/
build/Release
/bundle
/.bundle
.c9/
ca-cert
.classpath
.classpath 
/compiled/
/config/config-local.yml
/connect.lock
coverage
/coverage
/coverage/
*.css.shim.ts
/dist
/dist/**
dll/
/doc/
/docker-compose.overlay.yml
/documentation/
.DS_Store
/e2e/*.js
/e2e/*.map
ehthumbs.db
.gradle
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar
.grunt
Icon?
/.idea
.idea
.idea 
.idea/
*.iml
*.iml 
*.ipr
*.iws
*.launch
lib-cov
/libpeerconnection.log
.lock-wscript
/*.log
/log/*
*.log
logs
/.nb-gradle/.gradle
*.ngfactory.ts
*.ngsummary.json
/node_modules
/node_modules/
node_modules/
/npm-debug.log.*
npm-debug.log
/.nyc_output
out 
out/
/out-tsc
*.pid
pids
portus.*
Portus.spec
.project
.project 
project.xml
/public/assets
/public/__build__/
/public/dist/
.README* 
/reports/
/.sass-cache
.scannerwork
*.seed
.settings
.settings/
.settings/ 
*.shim.ngstyle.ts
/spec/integration/fixtures/config.yml
/spec/integration/fixtures/data
/src/*/__build__/
/src/*/dist/
/src/typings/tsd/
*.sublime-workspace
/**/*.swp
*.swp
testem.log
Thumbs.db
/tmp
/tsd_typings/
/typings
/typings/
/.vagrant
.vagrant
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.webpack.json
